@import 'tailwindcss';

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #f9f9f9;
  background-color: rgba(0,0,0,0.9);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@utility flex-center {
  @apply flex justify-center items-center;
}
@utility col-center{
  @apply flex flex-col justify-center items-center;
}

@utility abs-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility text-gradient {
  background: linear-gradient(to bottom, #fff, #898989);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@utility radial-gradient {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2; }
